services:
  bot:
    build: .
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/milan/services/minecraftServers:/services/minecraftServers  # Monte seulement minecraftServers
    working_dir: /app
    restart: unless-stopped
    env_file:
      - .env

